<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>麒麟文件上传</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
</head>
<body>
<div class="container-fluid" id="vue-app">
    <div class="row">
        <div class="col-md-12" style="padding: 0;">
            <div class="alert alert-dismissable alert-info">
                <h4>麒麟快传</h4>
                <strong>局域网跨平台文件传输专家！</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding: 0;">
            <form id='mainForm' enctype='multipart/form-data' method="post">
                <div class="form-group">
                    <input type="file" name="data" class="btn btn-outline-warning btn-block"
                           v-on:change="initList"
                           v-bind:disabled="btnDisabled"
                           style="margin-bottom: 15px;" id="files" multiple="multiple">
                    <input type="hidden" name="action" value="show">
                </div>
                <input type="button" v-on:click="beginUpload"
                       class="btn btn-block btn-lg btn-info"
                       v-bind:disabled="btnDisabled"
                       style="position: fixed; bottom: 0;left: 0;width: 50%;border-radius:unset;z-index: 100;"
                       value="上传文件"/>
                <a v-bind:href="btnDisabled?'#':'/hugefile'"
                   v-on:click="btnDisabled?showMsg('当前有文件正在传输，不要切换界面！'):test"
                   class="btn btn-block btn-lg btn-light"
                   style="position: fixed; bottom: 0;right:0;width: 50%;border-radius:unset;z-index: 100;">上传超大文件</a>
            </form>
        </div>
    </div>

    <div class="row" v-bind:style="showResponse?'display:block;':'display:none;'">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" v-on:click="closeHint">×</button>
                <p id="message">{{responseText}}</p>
            </div>
        </div>
    </div>

    <div class="row" v-bind:style="showHugeFile?'display:block;':'display:none;'">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" v-on:click="closeHugeHint">×</button>
                <h4>问题提示</h4>
                <p>文件<strong v-for="hugeFile in hugeFiles">{{hugeFile}}</strong> 太大，无法传送，请使用超大文件传输！</p>
            </div>
        </div>
    </div>

    <div class="row" style="z-index:0;">
        <div class="col-md-12" style="padding: 0;">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse">
                            <span>
                                已选文件
                            </span>
                            <span style="float: right;">
                                <img v-bind:src="showList ? '/static/img/close.png':'/static/img/open.png'"
                                     v-on:click="changeVisable(showList)"
                                     style="height: 1rem;">
                            </span>
                        </a>
                    </div>
                    <div id="collapseOne" v-bind:class="showList?'collapse show':'collapse'" data-parent="#accordion">
                        <div class="card-body">
                            <ul style="padding-inline-start:0;">
                                <li v-for="(file,index) in selectedFiles"
                                    style="list-style-type: none;display: flex;
                                    line-height: 3rem;
                                    justify-content: left;align-items: center;">
                                    <span style="width: 45%;display: inline-block;text-overflow: ellipsis;
                                    white-space: nowrap;overflow: hidden;">{{file.filename}}</span>
                                    <span style="width: 20%;display: inline-block;padding-left: 5px;">{{file.size}}</span>
                                    <span style="width: 30%;display: inline-block;padding-left: 5px;padding-right: 5px;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped" v-bind:style="'width:'+file.progress+'%;'"></div>
                                        </div>
                                    </span>
                                    <span style="width: 5%;line-height: 100%;text-align: right;">
                                        <img v-bind:src="'/static/img/'+file.img"
                                             v-on:click="file.operator?remove(index):test()"
                                             style="height:1rem;">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app=new Vue({
        el:'#vue-app',
        data:{
            showList:true,
            btnDisabled:false,
            responseText:"",
            showResponse:false,
            fileMetaData:[],
            selectedFiles:[],
            hugeFiles:[],
            showHugeFile:false
        },
        methods:{
            test:function (){},
            showMsg:function (){alert("当前有文件正在传输，请不要切换界面！")},
            closeHint: function () {
                this.showResponse = false;
                this.selectedFiles=[];
            },
            closeHugeHint(){
                this.hugeFiles=[];
                this.showHugeFile=false;
            },
            parseSize:function (size){
                let units=["B","KB","MB","GB","TB","PB"];
                let i=0;
                while(size>1000){
                    i++;
                    size /= 1000;
                }
                return Number(size).toFixed(1)+units[i];
            },
            remove:function (index){
                this.selectedFiles.pop(index);
                this.fileMetaData.pop(index);
                console.log(this.selectedFiles);
                console.log(this.fileMetaData);
            },
            changeVisable:function (visable){
                this.showList=!visable;
            },
            initList:function (){
                let fileSelecter = document.getElementById("files");
                let selecteds=[];
                let metaDatas=[];
                let error=[];
                for (let i = 0; i < fileSelecter.files.length; i++) {
                    let file=fileSelecter.files[i];
                    if(file.size>541906131){
                        error.push(file.name);
                        continue;
                    }
                    metaDatas.push(file);
                    selecteds.push({
                        filename: file.name,
                        size: this.parseSize(file.size),
                        progress: 0,
                        img: "delete.png",
                        operator: true
                    });
                }
                this.selectedFiles = selecteds;
                this.fileMetaData = metaDatas;
                if(error.length>0){
                    this.showHugeFile=true;
                    this.hugeFiles=error;
                }
            },
            beginUpload:async function () {
                if(this.fileMetaData.length<=0){
                    alert("您还没有选择文件！");
                    return;
                }
                this.btnDisabled=true;
                for (let i = 0; i < this.selectedFiles.length; i++) {
                    this.selectedFiles[i].operator=false;
                    this.selectedFiles[i].img="wait.png"
                }
                // 这里要一个一个的传送文件，返回状态信息。
                for (let i = 0; i < this.fileMetaData.length; i++) {
                    this.selectedFiles[i].img="upload.png";
                    let ok=await this.uploadFile(i);
                    if(ok){
                        this.selectedFiles[i].img="success.png";
                    }else{
                        this.selectedFiles[i].img="delete.png";
                    }
                }
                // 上传结束，发送消息给服务器
                this.responseText = await this.endUpload();
                this.showResponse = true;
                this.fileMetaData=[];
                document.getElementById("files").value="";
                this.btnDisabled=!this.btnDisabled;
            },
            // 这个函数用于实现文件上传操作
            uploadFile: function (index) {
                return new Promise( resolve => {
                    let formData = new FormData(document.getElementById("mainForm"));
                    formData.set("data",this.fileMetaData[index]);
                    formData.append("filename", this.fileMetaData[index].name);
                    let ajax = new XMLHttpRequest();
                    ajax.open('post','/file');
                    ajax.upload.onprogress = (evt)=>{
                        this.selectedFiles[index].progress=100 * (evt.loaded / evt.total).toFixed(2);
                    };
                    ajax.onreadystatechange =()=>{
                        if (ajax.readyState === 4) {
                            var obj=JSON.parse(ajax.responseText);
                            if(obj.ok){
                                resolve(true);
                            }else{
                                resolve(false);
                            }
                        }
                    };
                    ajax.send(formData);
                });
            },
            endUpload:function() {
                return new Promise(resolve => {
                    let ajax=new XMLHttpRequest();
                    let formData=new FormData();
                    formData.append("action", "show");
                    formData.append("finish","finish");
                    ajax.open('post','/file');
                    ajax.onreadystatechange=()=>{
                        if (ajax.readyState === 4) {
                            console.log(ajax.responseText);
                            var obj=JSON.parse(ajax.responseText);
                            resolve(obj.msg);
                        }
                    };
                    ajax.send(formData);
                });
            }
        },
    });
</script>
</body>
</html>